<!DOCTYPE html>
<html lang="en" xmlns="http://www.org.thymeleaf">
<head th:replace="~{/all_css_js :: allcss}"></head>
<body>
    <div class="container" th:replace="~{/nav :: header}"></div>
    <div class="container">
        <form action="#" method="post" th:action="@{/submit-form}" th:object="${variable}">
            <h2 class = "mt-4">Submit an item</h2>
            <hr/>
            <!-- Form levels error messages here -->
            <div class = "form-group row ">
               <div class="col-sm-8">
        			<span class="text-danger" > </span>      
      			</div>
                </div>
            <div class = "form-group row ">
               <label for = "title" class = "col-sm-2 col-form-label">Title</label>
               <div class = "col-sm-4">
               <input th:field="*{title}" type="text" class = "form-control" placeholder = "Mandatory">
               </div>
               <div class="col-sm-4">
        			<span class="text-danger" th:errors="*{title}"> </span>      
      			</div>
            </div>
            
            <div class = "form-group row ">
               <label for = "rating" class = "col-sm-2 col-form-label mr-0">Rating</label>
               <div class = "col-sm-4">
                  <input th:field="*{rating}" type="text" class = "form-control" placeholder = "5.0 < Number < 10.0">
               </div>
               <div class="col-sm-4">
        			<span class="text-danger" th:errors="*{rating}"> </span>      
      			</div>
            </div> 
               
            <div class = "form-group row ">
               <label for = "priority" class = "col-sm-2 col-form-label mr-0">Priority</label>
               <div class = "col-sm-4">
                  <input th:field="*{priority}" type="text" class = "form-control" placeholder = "L|M|H">
               </div>
               <div class="col-sm-4">
        			<span class="text-danger" th:errors="*{priority}"> </span>      
      			</div>
            </div>
               
            <div class = "form-group row">
            	<label for = "comments" class = "col-sm-2 col-form-label">Comments</label>
            	<div class = "col-sm-4">
               		<textarea th:field="*{comment}" class="form-control" rows = "3" placeholder = "Max. 50 chars"></textarea>
               </div>
               <div class="col-sm-4">
        			<span class="text-danger" th:errors = "*{comment}"> </span>      
      			</div>
            </div>
            
            <div class = "form-group row">
               <div class = "col-sm-10">
				   <input type="hidden" th:field="*{id}" />
                  <button type = "submit" class = "btn btn-primary">Submit</button>
               </div>            
            </div>
         </form>
        </div>
</body>
</html>